a {
    transition: 0.5s ease;
}

a:link { 
    color: dodgerblue;
}

a:visited { 
        text-decoration: none; 
        color: dodgerblue; 
}

a:hover {
    text-decoration: none; 
    color: black; 
}


h1 {
    transition: 0.4s;
    padding: 20px;
}


h1:hover {
    transform: scale(1.2)
}