/*
body {
    margin: 0;
    padding: 0;
    
}


mihi {
    max-height: 500px;
}
*/


.nav_grid {
    display: grid;
    grid-template-columns: auto 6fr auto auto auto;
    padding: 20px;
}


contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}


contact-links {
    grid-column: 2/3;
    grid-row: 1/2;
}

me {
    grid-column: 1/2;
    grid-row: 1/2;
}


    .footer_grid {
    padding: 20px;
    text-align: center;
}


@media screen and (max-width: 870px) {
    
    .nav_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: left;
        padding-left: 50px;
        padding-top: 43px;
}
    
    #right_link, #active_link {
    padding-left: 0px;
}


@media only screen and (max-width: 700px) {
    
    contact {
    display: grid;
    grid-template-columns: 1fr;
 
}
    
    
    me {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    padding:  0px 100px 0px 50px;
        
}

    contact-links {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    padding:  0px 0px 0px 27px;
}
    
    #contact_links {
        margin-top: 10px;
}
    
   .footer_grid {
    padding: 20px 20px 20px 50px;
    text-align: left;
}
    
    
}

    
    

