html {
    background-color: #1a1a1a;
    color: white;
}


work {
    color: orangered;
}


design {
    color: dodgerblue;
}

dot {
    color: dodgerblue;
}

a {
    color: aliceblue;
}

bede {
    color: aliceblue;
}


p {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

h4 {
    color: aliceblue;
}