example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
}



tagline {
    grid-column: 1/3;
    grid-row: 1/2;
}

detailz {
    grid-column: 2/3;
    grid-row: 1/2;
}


client {
    grid-row: 2/3;
}

detail_variable {
    grid-row: 3/4;
}