
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


body {
    line-height:1;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    white-space: nowrap;
}

b {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}




/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}











.header {
    margin: 0;
}

li.listitem {
    color: black;
    padding: 3px
}

a.listitem:visited, a.listitem:link, a.listitem:active
{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
    width: 0px;
    transition: 0.4s ease;
    white-space: nowrap;
    height: 25px;
}



b.listitem:visited, b.listitem:link, b.listitem:active
{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
    width: 0px;
    transition: 0.4s ease;
    white-space: nowrap;
    height: 25px;
}
/*
a:hover.listitem {
    transition: 0.4s;
    border-bottom: 4px solid dodgerblue;
    width: 150px;
}
*/



a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 400;
}

a.boldify {
    font-weight: 700;
}


a.resume {
    color: black;
    margin: 20px;
}

a:active.listitem {
    font-style: bold;
}

a:hover.listitem {
        transform:  scale(1.2)
}




ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dodgerblue;
    font-family: 'Roboto'; 'sans-serif';
    
}

ul.topnav li {
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    text-align: center;
    width: 10%;
    height: auto;
    
}

ul.topnav img {
    height: 45px;
    width: 45px;
    margin-left: 6px;
}



ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li b {
    white-space: nowrap;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li b:hover {
    transform: scale(1.2);
}

ul.topnav li a:hover {
    transform: scale(1.2);
}


@media screen and (max-width:680px) {
    ul.topnav li {
        float: none;
        text-align: center;
        width: auto;
        height: auto;
    }
    
    h4 {
        text-align: center;
    }
    
    ul.topnav li b {
        float: none;
        text-align: center;
        width: auto;
        height: auto;
        margin-left: 0px;
}
    
    ul.topnav img {
    height: 0px;
    width: 0px;
    vertical-align:middle;
}
    

}



a: visited { text-decoration: none; color: dodgerblue; }
a: focus {text-decoration: none; color: black;}

h1:hover {
    transform: scale(1.2)
}

h1 {
    color: dodgerblue;
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    transition: 0.3s;
}

h2 {
    color: black;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


img {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
    margin: auto;
    display: block;
    
}

li {
    font-family: 'Roboto', sans-serif;
}


ul {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 10px;
}

resume {
    color: dodgerblue;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-left: 20px;
}