h2:hover {
    
   color: black;
}


h2 {
    color: dodgerblue;
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    transition: 0.4s;
}